@(userForm: Form[User], message: String = "Sign Up!")

@import bootstrap._

@main(message) {

    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h2>Sign Up Now!</h2>
            <hr/>
        </div>
        <div class="row">


            @helper.form(action = routes.Application.saveUser()) {

            @text(userForm("name"), label = "Your Name:", required = false)

            <hr/>

            @text(userForm("email"), label = "Your Email:", required = false, fieldType = "email")

            <hr/>

            <button class="btn btn-success">Sign Up!</button>

            }

        </div>
    </div>

}